@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@font-face {
    font-family: 'SavoyeLET';
    src: url('https://fonts.gstatic.com/s/satisfy/v10/rP2Hp2yn6lkG50LoCZOIHQ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f2;
    color: #2d3e50;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6f8263;
    color: white;
    padding: 20px;
    text-align: center;
}

.mosteiro-img {
    max-width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

h1 {
    font-family: 'SavoyeLET', cursive;
    font-size: 48px;
}

h2 {
    font-family: 'SavoyeLET', cursive;
    font-size: 32px;
}

section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;  /* Aumentar largura das secções */
    max-width: 1200px; /* Manter limite máximo */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-casamento {
    background-color: #dfe9db;
}

.rsvp button {
    background-color: #6f8263;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.rsvp button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #2d3e50;
    color: white;
}
